{% load staticfiles %}
{% include 'folio/navbar.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" height="42" width="42"  href="{% static 'images/yz.png' %}">
    <link rel="stylesheet" href="{% static  'style/style.css' %}"/>
    <title>Home: :</title>
    
</head>
<body div class="bg"style="background-image: url('{% static '/images/cynthia.png' %}');" >
    


    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hello, my name is</div>
                <div class="text-2">Cynthia Sang</div>
                <div class="text-3">And I'm a  <span>python developer</spa></div>
                <a href="#">Hire me</a>
            </div>
        </div>
    </section>
<style>
    /* .bg{
        height: 50px;
        width: 80px;
        position: relative;
    } */
</style>
</body>
</html>